# Copy this file to .env and fill in the values
SECRET_KEY=django-insecure-change-me-please
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=pharma_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
